/*INDEX PAGE*/

/* Top banner with links */

body {
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    color: rgb(90, 90, 90);
    text-decoration: none;
}

.topMenu {
    display: flex;
    justify-content: space-between;
    border-bottom: solid;
    border-bottom-width: 3px;
    border-color: wheat;
    margin-top: -10px;
    font-size: larger;
    padding: 20px;
}

#storeLink {
    margin-right: 20px;
}

#abuelasEmbroideryLink {
    margin-right: 20px;
}



/* First section below banner */

.firstSection {
    display: flex;
    margin-top: 50px;
    height: 500px;
}

.firstSectionLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding-left: 50px;
}

.firstSectionRight {
    display: flex;
    flex: 1;
    justify-content: center;
}

#welcomeHeader {
    font-size: 65px;
    font-family: cursive;
    margin-bottom: 0px;
    margin-top: -50px;
    margin-left: -5px;
}

#subWelcomeHeader {
    margin: 0px;
    margin-top: -15px;
    margin-left: 15px;
    font-family: cursive;
    font-weight: lighter;
}

#welcomeText {
    font-size: large;
}

#visitStoreButton {
    width: 200px;
    background-color: orange;
    border-radius: 50px;
}

#slideshowImage {
    width: auto;
    border-radius: 500px;
}

/* Second section */

.secondSection {
    background-color: wheat;
    display: flex;
    flex-direction: column;
}

#secondSectionHeader {
    text-align: center;
    font-family: cursive;
    font-size: 30px;
}

#itemsContainer {
    display: flex;
    justify-content: center;
    gap: 75px;
}

.itemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.circleImage {
    width: 175px;
    height: 175px;
    border-radius: 500px;
}

.itemSubtext {
    font-style: italic;
    font-size: 20px;
}


/* CONTACT PAGE */

/*Header*/
#contactHeader {
    text-align: center;
}
