/*INDEX PAGE*/

/* Top banner with links */

body {
    background-color: white;
    font-family: serif;
    display: flex;
    flex-direction: column;
}

#topMenu {
    display: flex;
    border-bottom: solid;
    border-bottom-color: wheat;
    justify-content: space-between;
    font-size: 4vw;
    padding: 2%;
    margin-top: -5px;
}

.menuLink {
    text-decoration: none;
    color: rgb(90, 90, 90);
}
/* First section below banner */

#firstSection {
    display: flex;
    flex-direction: column;
}

#welcomeHeader {
    font-size: 6vw;
    font-weight: lighter;
    color: goldenrod;
    text-align: center;
}

#subWelcomeHeader {
    font-size: 3vw;
    font-style: italic;
    font-weight: lighter;
    margin-top: -15px;
    text-align: center;
}

#welcomeText {
    font-size: 3vw;
}

#visitStoreButton {
    font-size: 3vw;
    background-color: orange;
    border-radius: 50px;
    align-self: flex-end;
    width: 30vw;
}

#slideshowImage {
    align-self: center;
    border-radius: 500px;
    width: 100%;
}
/* Second section */

#secondSection {
    background-color: rgba(245, 222, 179, 0.25);
    display: flex;
    flex-direction: column;
}

#secondSectionHeader {
    text-align: center;
    font-size: 5vw;
    font-weight: lighter;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

#itemsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 4vw;
}

.itemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vw;
    font-size: 4vw;
    margin-bottom: -5%;
}

.circleImage {
    width: 30vw;
    height: 30vw;
    border-radius: 500px;
    
}

.itemSubtext {
    margin-top: 0;
    text-align: center;
}

@media only screen and (min-width: 700px) {
    
    body {
        padding: 5%;
    }
    
    #topMenu {
        font-size: 25px;
        padding: 10px;
        justify-content: center;
        gap: 5vw;
    }

    #welcomeHeader {
        font-size: 5vw;
        margin-bottom: 5px;
    }

    #subWelcomeHeader {
        font-size: 2vw;
    }

    #welcomeText {
        font-size: 2vw;
    }
    
    #visitStoreButton {
        font-size: 2vw;
        width: 20vw;
    }

    #homepageFirstSectionBox {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: -3vw;
    }

    #slideshowImage {
        width: 200%;
        margin-left: 50px;
    }

    #itemsContainer {
        flex-wrap: nowrap;
    }

    .circleImage {
        width: 15vw;
        height: 15vw;
    }

    .itemContainer {
        margin: 2vw;
    }

    .itemSubtext {
        font-size: 2vw;
    }

    #secondSection {
        height: 18vw;
    margin-top: 5vw;
    }

    #secondSectionHeader {
        font-size: 3vw;
    }
}




/* CONTACT PAGE */

/*Header*/
#contactHeader {
    text-align: center;
}

#contactSubHeader {
    text-align: center;
}

#contactForm {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

#contactList {
    list-style: none;
    padding: 0;
    margin: 0;
}

#messageSubmitButton {
    /* This extra margin represent roughly the same space as the space
        between the labels and their text fields */
    margin-left: .5em;
}