/*INDEX PAGE*/

/* Top banner with links */

body {
    background-color: whitesmoke;
    font-family: serif;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#topMenu {
    display: flex;
    border-bottom: solid;
    border-bottom-color: wheat;
    justify-content: space-between;
    font-size: 4vw;
    padding: 2%;
    margin-top: -5px;
}

.menuLink {
    text-decoration: none;
    color: rgb(90, 90, 90);
}
/* First section below banner */


#welcomeHeaders {
    background-color: rgba(245, 222, 179, 0.25);
}

#welcomeHeader {
    font-size: 6vw;
    font-weight: lighter;
    color: rgba(218, 165, 32, 0.75);
    text-align: center;
    margin-top: 1vw;
}

#subWelcomeHeader {
    font-size: 3vw;
    font-style: italic;
    font-weight: lighter;
    margin-top: -15px;
    text-align: center;
}

#messageAndButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
 }

#welcomeMessage {
    font-size: 3vw;
    text-align: center;
    margin-top: 4vw;
}

#welcomeMessageAndPhoto{
    display: flex;
    height: 32vw;
}

#visitStoreButton {
    font-size: 3vw;
    background-color: orange;
    border-radius: 50px;
    width: 30vw;
}

/* Slideshow css start */

.slider{
    width: 40vw;
    height: 31vw;
    overflow: hidden;
    display: flex;
}

.slides{
    width: 500%;
    height: 30vw;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    transition: 2s;
    width: 40vw;
    display: flex;
    justify-content: center;
}

.slide img{
    width: 30vw;
    height: 30vw;
    border-radius: 300px;
    transition: 2s;
    border: .25px solid rgba(0, 0, 0, 0.4);
}

/* CSS for manual slide navigation */

.navigation-manual{
    position: absolute;
    width: 40vw;
    display: flex;
    justify-content: center;
    margin-bottom: 3vw;
    align-self: flex-end;
}

.manual-btn{
    border: 2px solid orange;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 1.5vw;
}

.manual-btn:hover{
    background: orange;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

/* CSS for automatic slide navigation */

.navigation-auto{
    position: absolute;
    width: 39.75vw;
    display: flex;
    justify-content: center;
    margin-bottom: 3vw;
    align-self: flex-end;

}

.navigation-auto div{
    border: 2px solid orange;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;


}

.navigation-auto div:not(:last-child){
    margin-right: 1.5vw;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: orange;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: orange;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: orange;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: orange;
}

/* Item display bar section */

#itemDisplayBarSection {
    background-color: rgba(245, 222, 179, 0.25);
    display: flex;
    flex-direction: column;
}

#itemDisplayBarSectionHeader {
    text-align: center;
    font-size: 5vw;
    font-weight: lighter;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

#itemsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 4vw;
}

.itemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vw;
    font-size: 4vw;
    margin-bottom: -5%;
}

.circleImage {
    width: 30vw;
    height: 30vw;
    border-radius: 500px;
    
}

.itemSubtext {
    margin-top: 0;
    text-align: center;
}

@media only screen and (min-width: 700px) {
    
    body {
        padding: 5%;
    }
    
    #topMenu {
        font-size: 25px;
        padding: 10px;
        justify-content: center;
        gap: 5vw;
    }

    #welcomeHeader {
        font-size: 5vw;
        margin-bottom: 5px;
    }

    #subWelcomeHeader {
        font-size: 2vw;
    }

    #welcomeMessageAndPhoto {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #welcomeMessage {
        font-size: 2vw;
        margin-top: 0;
        z-index: 1;
    }
    
    #visitStoreButton {
        font-size: 2vw;
        width: 20vw;
    }


    #itemDisplayBarSection {
        height: 18vw;

    }

    #itemDisplayBarSectionHeader {
        font-size: 3vw;
    }

    #itemsContainer {
        flex-wrap: nowrap;
    }

    .circleImage {
        width: 15vw;
        height: 15vw;
    }

    .itemContainer {
        margin: 2vw;
    }

    .itemSubtext {
        font-size: 2vw;
    }
    
}




/* CONTACT PAGE */

#contactBody {
    align-items: center;
}

.contactTopMenu {
    gap: 12vw;
}

#contactHeader,
#contactHeaderSubtext{
    text-align: center;
}

input:focus,
textarea:focus {
            /* Additional highlight for focused elements */
    border-color: #000;
}

#contactForm {
    background-color: rgba(245, 222, 179, 0.25);
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 80%;
    padding: 50px;
    margin: 0 0 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}   

.form-row input[type='text'],
.form-row input[type='email'] {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 280px;
    padding: 7px;
    font-size: 14px;
}

.form-row input[type='text']:invalid,
.form-row input[type='email']:invalid {
    border: 1px solid #D55C5F;
    color: #D55C5F;
    box-shadow: none; /* Remove default red glow in Firefox */
}

.form-row label {
    margin-bottom: 2vw;
}

#msg {
    font-size: 14px;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    min-height: 200px;
    margin-bottom: 10px;
    resize: none;
}

#messageSubmitButton {
    font-size: 16px;
    font-weight: bold;
  
    color: #FFFFFF;
    background-color: goldenrod;
  
    border: none;
    border-radius: 3px;
  
    padding: 10px 20px;
    cursor: pointer;

}

#messageSubmitButton:hover {
    background-color: rgba(218, 165, 32, 0.253);
}
  
#messageSubmitButton:active {
    background-color: gold;
}

@media only screen and (min-width: 700px) {

    #contactForm {
        width: 600px;
        align-items: center;
    }

    .form-row {
        flex-direction: row;
        align-items: flex-start; /* To avoid stretching */
        margin-bottom: 20px;
        margin-right: 140px;
    }

    .form-row input[type='text'],
    .form-row input[type='email'],    /* Add */
    .form-row select,                 /* These */
    .form-row textarea {              /* Selectors */
        width: 250px;
        height: initial;
    }

    .form-row label {
        text-align: right;
        width: 120px;
        margin-top: 7px;
        padding-right: 20px;
    }

    .form-row textarea {
          width: 260px;
    }



}